<p></p>
<p class="title">You can fill your personal income</p>
<div class="container" fxLayout="row">
  <div fxFlexOffset="20px">
    <div *ngIf="error">
      <div class="error">
        {{error}}
      </div>
    </div>
    <form (ngSubmit)="calculateTax()" class="example-form form" [formGroup]="form">
      <p>
        <mat-form-field>
          <input matInput
                 type="number"
                 name="income"
                 formControlName="income"
                 placeholder="Income"
          />
        </mat-form-field>
      </p>
      <div>
        Or
      </div>
      <p>
        <mat-form-field>
          <input matInput
                 type="number"
                 name="fullIncome"
                 formControlName="fullIncome"
                 placeholder="Income + Super"
          />
        </mat-form-field>
      </p>
      <p></p>
      <div>
        <mat-form-field>
          <input matInput
                 type="number"
                 name="superAnnuationRate"
                 formControlName="superAnnuationRate"
                 placeholder="Super annuation rate"
          />
          <mat-error *ngIf="superAnnuationRateControl.hasError('required') && (superAnnuationRateControl.dirty || superAnnuationRateControl.touched)">
            Superannuation is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput
                 type="string"
                 name="year"
                 formControlName="year"
                 placeholder="Year"
          />
          <mat-error *ngIf="yearControl.hasError('required') && (yearControl.dirty || yearControl.touched)">
            Superannuation is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" mat-button>Calculate tax</button>
    </form>
  </div>
  <div fxFlexOffset="20px">
    <div *ngIf="tax.taxPaid">
      <mat-list role="list">
        <mat-list-item role="listitem">Gross: <strong>{{ tax.income }}</strong></mat-list-item>
        <mat-list-item role="listitem">Gross with Super: <strong>{{ tax.fullIncome }}</strong></mat-list-item>
        <mat-list-item role="listitem">SuperAnnuation: <strong>{{ tax.superAnnuationAmount }}</strong></mat-list-item>
        <mat-list-item role="listitem">Tax amount: <strong>{{ tax.taxPaid }}</strong></mat-list-item>
        <mat-list-item role="listitem">Net amount: <strong>{{ tax.netIncome }}</strong></mat-list-item>
        <mat-list-item role="listitem">Net amount and Super: <strong>{{ tax.netSuper }}</strong></mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
